#h1{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.pin{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 60px;
    border-style: solid;
    border-color: #004afe;
    background-color: #ECF5FC;
    border-width: 3px;
    border-radius: 50px;
    /* width: 80%; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

div:hover{
    background-color: #004afe;
    color: blanchedalmond;
}